################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/KDemu/v17/DocumentLayout.json
*.vsidx
/.vs/KDemu/v17
/KDemu/x64/Debug
/vcpkg_installed/x64-windows-static
/x64/Debug
/x64/Release
/vcpkg_installed/x64-windows